---
title: {YYYY-MM-DD} 📅️ 本周摘要
date created: {YYYY-MM-DD}
date modified: {YYYY-MM-DD}
---

## **当前感知的目标路线**

同前，略

## **事项**

### 基本完成

{Completed items here}

### 进行中

{In-progress items here}

### 本周搁置

{Shelved items here}

## **新 idea（文档总结的）**

{New ideas here}

## **关注中信息**

{Open questions here}
